/* Defaul tags */
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
  
}

/* Navbar */
  #center-title {
  width:200px;
  font-size:35px;
  color:white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align:center;
  letter-spacing:4px;
  }

  #cog {
  width:25px;
  height:25px;
  margin-right:55px;
  margin-top:12px;
  }

  #dropdown {
  width:50px;
  float:right;
  position: relative;
  display: inline-block;
  overflow:visible;
  cursor: pointer;
  z-index:1;
  }

  #dropdown-content {
  display: none;
  position: absolute;
  width:200px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0#2);
  right:10px;
  margin-right:20px;
  background-color: #f9f9f9;
  }

  #dropdown-content a, #nav-username {
  color: black;
  padding-left:30px;
  padding-top:5px;
  padding-bottom:5px;
  text-decoration: none;
  display: block;
  font-size:15px;
  }

  #dropdown-content a:hover, #nav-username:hover{
  background-color: #f2f2f2;
  cursor: pointer;
  }

  #nav-username {
  margin-top:20px;
  }

  #logout {
  margin-top:15px;
  border-width:2px;
  border-top-style:solid;
  border-color:#e6e6e6;
  }
  #dropdown:hover #dropdown-content {
  display: block;
  }

  nav {
  background-color: #2b569a;
  width: 100%;
  height: 50px;
  margin-top: 0;
  }

input[type=textarea],input[type=text], textarea{
  border: 2px solid #d3d3d3;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 15px;
  height: 40px;
  padding: 10px;
}

textarea{
  resize: none;
}


/* Text to create a new block */

.new-block{
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-weight: bold;
  width: 150px;
  background-color: #0095ff;
  color: #ffffff;
}


.new-block a{
  color: #fff;
  letter-spacing: 1px;
}

/* Background of popup, will make it darker */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.1);
}

/* Holds all of the Content */
.popup-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
  width: 680px;
  height: 490px;
  border: 2px solid #d3d3d3;
}

/* Icons are within header */
.popup-header{
  position: relative;
  border-bottom: 2px solid #d3d3d3;
  height: 50px;
}

/* Icon positioning */
.favourite, .ellipsis{
  font-size: 30px;
  display: inline;
  padding: 10px 0 10px 0;
}

.favourite{
  float: right;
  margin-right: 20px;
}

.ellipsis{
  float: left;
  margin-left: 20px;
}

/* Popup Form Positioning, holds main content */
.popup-body{
  padding: 20px;
  text-align: left;
}

.popup-body button{
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-weight: bold;
  background-color: #0095ff;
  color: #ffffff;
  position: absolute;
  right: 20px;
  bottom: 280px;

}


.popup-body button:hover{
  background-color: #005aff;
}

.popup-body input#url, #url1{
  width:100%;
}

.popup-body textarea#link, textarea#link1{
  height: 100px;;
  width: 40%;
  border-style: dashed;
  vertical-align: top;
  display: inline;
}

.popup-body input#title{
  width: 80%;
}

.popup-body textarea#notes{
  width: 80%;
  height: 50px;
  vertical-align: top;
}

.popup-body label{
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #6d6363;
}

/* Styling select box, cant do much due to restrictions */
select{
  margin-left: 20px;
  height: 30px;
  width: 125px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

/* The footer holds the two button, save and cancel */
.popup-footer{
  padding-right: 20px;
  text-align: right;
}

/* Button Styling */
.popup-footer button{
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-weight: bold;
  width: 100px;
}

/* Different styling for the individual buttons with psuedo classes*/
#submit, #submit1{
  background-color: #0095ff;
  color: #ffffff
}

#cancel, #cancel1{
  background-color: #ffffff;
  color: #000000;
}

#submit:hover, #submit1:hover{
  background-color: #005aff;
}

#cancel:hover, #cancel1:hover{
  color: #ff0000;
}

#uploadPreview {
  width: 200px;
  height: 100px;
  border-width:2px;
  border-color: rgba(0,0,0,0.2);

}
/* Second modal for link preview */
#popup1 .popup {
  display: none;
  z-index: 2;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.2);
}

/* Centers the text*/
#popup1 .popup-header{
  padding: 13px;
  font-size: 120%;
}

/* Main content, holds the form*/
#popup1 .popup-content {
  width: 500px;
  height: 350px;
}

#popup1 textarea#url1{
  width: 100%;
  height: 80px;
}

#popup1 textarea#link1{
  width: 65%;
  height: 100px;
}

.fa-folder, .fa-arrow-circle-right{
  font-size: 150% !important;
}

.portfolio span, .links-to-send span{
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

.drag-links{
  margin: 20px auto 50px auto;
  border: 2px dashed #b9afaf;
  height: 150px;
  width: 60%;
  resize: none;
  border-radius: 10px;
  padding: 0 !important;
}

.drag-links::-webkit-input-placeholder {
  text-align: center;
  line-height: 140px;
}

.drag-links::-moz-placeholder {
  text-align: center;
  line-height: 140px;
}

.drag-links:-ms-input-placeholder {
  text-align: center;
  line-height: 140px;
}

.portfolio .category{
  position: relative;
  top: -2px;
  left: -10px;
  width: 100px;
}

.send-email{
  margin-top: 50px;
  margin-bottom: 50px;
}

.send-email input[type=email]{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin: 0 20px;
}

.send-email button{
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-weight: bold;
  width: 100px;
  background-color: #0095ff;
  color: #ffffff;
}

.send-email button:hover{
  background-color: #005aff;
}

/*.send-email input[type=checkbox], .send-email label#radio-text {
position: relative;
left: 15%;
top: 35px;
font-size: 16px;
}*/

.send-email input[type=checkbox]{
-ms-transform: scale(1.25); /* IE */
-moz-transform: scale(1.25); /* FF */
-webkit-transform: scale(1.25); /* Safari and Chrome */
}

.send-email label#radio-text{
  margin-left: 10px;
}

.type-email{
  border: 2px solid #d3d3d3;
  letter-spacing: 1px;
  height: 40px;
}

.email-container{
  position: relative;
  display: inline;
  height: 100px;
  width: 50%;
}

.email-fav{
  position: absolute;
  bottom: -37px;
  right: 25px;
}

.send-email #result {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
}

/* email page */
/* Nav */
.email-list-search, .email-list-back{
  color: #ffffff;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.email-list-search{
  padding-top: 11px;
  font-size: 25px;
}

.email-list-back{
  padding-top: 6px;
  font-size: 35px;
}

nav#email-list-nav > div {
  float: left;
  display: inline;
}

nav#email-list-nav a{
  color: #ffffff;
}

.email-list-search{
  float: right !important;
}
/* Title */
.email-list-title{
  text-align: center;
  font-size: 175%;
  margin: 15px 0;
}

.email-list-sort-table{
  margin-left: 20px;
}

.email-list-sort-table select {
  width: 75px;
  margin-bottom: 20px;
}

.email-list-table{
  padding: 20px;
}

.email-list-table td{
  padding: 10px;
  text-align: left;
}

.email-list-table td:nth-of-type(2){
  text-align: right;
  padding-right: 30px;
}

.email-list-table a{
  text-align: right;
  padding-right: 30px;
  color: #189bd0;
  cursor: pointer;
  text-decoration: underline;;
}

.email-list-table thead{
  border-bottom: 1px solid #d3d3d3;
}

/* NOTE:  STYLES FOR THE UPLOAD BUTTON */
input#file {
  margin-left: 100px;
  padding: 120px 0 0 0;
  height: 100px;
  width: 50px;
  overflow: hidden;
  background: url("../images/uploadIcon.png") center no-repeat;
  background-size: contain;
}
