<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/master.css">

  </head>
  <body>

  </body>
</html>



<nav>
  <h1 id="center-title"> BLOCS </h1>
  <div id="dropdown">
    <img id="cog" src="/static/images/cog.png" alt=""/>
    <div id="dropdown-content">
      <h3 id="nav-username"> Insert name here </h3>
      <a href="/profile"> Profile </a>
      <a href="/settings"> Settings </a>
      <a href="/logs"> Logs </a>
      <a href="/emails"> Email list </a>
      <a id="logout" href="/logout"> Log out </a>
    </div>
  </div>
</nav>


<img src="../static/images/DEMO.png" alt="Loading" title="Loading" width="500px" height="500px"/>
<img src="../static/images/dropzone.gif" alt="Loading" title="Loading" />
