<!DOCTYPE html>
<head>
  <title> Email list </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="../static/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <nav id="email-list-nav">
    <!-- <div class="email-list-search">
      <input type="text" name="search" id="search"placeholder="Search...">
    </div> -->
    <div class="email-list-back">
      <a href="/"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
  </nav>
  <div class="email-list-title">
    <h3>Mailing List</h3>
  </div>
  <!-- <div class="email-list-sort-table" onchange="emailSort()">
    <span>Sorted by: </span>
    <select id="selectBox" name="category" onchange="sort()">
      <option value="newSort">Newest</option>
      <option value="ascSort">A - Z</option>
      <option value="descSort">Z - A </option>
    </select>
  </div> -->

  <div class="email-list-table">
    <table class="email-table">
      <thead>
        <tr><td>Email</td><td></td></tr>
      </thead>
      <tbody>
        {% for email in email_address %}
        <tr>
          <td>{{ email[0] }}</td>
          <td>
            <form action="/deleteEmail" method="POST" id="deleteEmail">
              <input type="hidden" name="email_add" value="{{ email[0] }}">
              <button type="submit" name="button">Remove from list</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/searchFilter.js"></script>
  <script src="https://use.fontawesome.com/1ff151e915.js"></script>
</body>
</html>
