<!DOCTYPE html>
<head>
  <title> Email list </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="../static/css/master.css">
  <link rel="stylesheet" type="text/css" href="../static/css/input.css">





  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <!-- Navigation bar -->
  <nav>
    <h1 id="center-title"> BLOCS </h1>
    <div id="dropdown">
      <img id="cog" src="/static/images/cog.png" alt=""/>
      <div id="dropdown-content">
        <h3 id="nav-username"> Insert name here </h3>
        <a href="/profile"> Profile </a>
        <a href="/settings"> Settings </a>
        <a href="/logs"> Logs </a>
        <a href="/emails"> Email list </a>
        <a id="logout" href="/logout"> Log out </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="send-email has-text-centered">
      <span id="result">{{ data }}</span>
      <form method="post" action="\sendEmail"  novalidate>
        <label for="current-email" class="is-inline">To: </label>
        <div class="email-container">
          <input type="email" name="sendemail" id="current-email "class="type-email" placeholder="E-Mail Address...">
          <div class="email-fav">
            <input type="checkbox" name="radio"><label for="radio" id="radio-text">Add to E-Mail list</label>
          </div>
        </div>
        <button type="submit" class="is-inline">Send</button>
      </form>
    </div>

    <div class="links-to-send">
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i><span>Links to send:</span>
      <div class="box" id="dragIn" ondrop="drop(event)" ondragover="allowDrop(event)">
        <!-- <textarea class="drag-links" placeholder="Select or Drag and drop Blocs you want to send here..." readonly></textarea> -->
      </div>
    </div>

    <div class="portfolio">
      <div class="portfolio-title">
        <i class="fa fa-folder" aria-hidden="true"></i><span>Portfolio</span>
        <select class="category fa" name="category">
          <option value="all">All</option>
          <option value="video" class="fa">&#xf04b; Video</option>
          <option value="web" class="fa">&#xf0c1; Web</option>
          <option value="images" class="fa">&#xf030; Images</option>
          <option value="favourites" class="fa">&#xf005; Favourites</option>
        </select>
      </div>

      <div class="portfolio-content">
        <div class = "box" ondrop="drop(event)" ondragover="allowDrop(event)">
          <div id="drop" ondrop="drop(event)" ondragover="allowDrop(event)">
        <a href="http://www.w3schools.com"><img src="../static/images/play.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31"></a>
         <img src="../static/images/folder.png" draggable="true" ondragstart="drag(event)" id="drag2" width="88" height="31">
         <img src="../static/images/folder.png" draggable="true" ondragstart="drag(event)" id="drag3" width="88" height="31">
</div>
</div>
      </div>
    </div>

      <div class="submitted-blocs">
        {% block db_results %}
        {%for item in result%}
        <div class="indivdiual-blocs">
          <p>{{item[0]}}</p>
          <p>{{item[1]}}</p>
          <p>{{item[2]}}</p>
          <p>{{item[3]}}</p>
        </div>
        {%endfor%}
        {% endblock %}
      </div>
    </div>

    <div class="modal-popups">
      <div id="popup" class="popup">
        <div class="popup-content">
          <div class="popup-header">
            <div class="ellipsis">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div class="favourite">
              <i class="fa fa-star-o" id="unfav" aria-hidden="true"></i>
              <i class="fa fa-star" id="fav" aria-hidden="true" style="display: none;"></i>
            </div>
          </div>
          <div class="popup-body">
            <form class="" action="/uploadBloc" method="post">
              <input name="url" type="text" id="url" placeholder="To what URL shall this link go...">


              <!-- <textarea type="text" id="link" placeholder="Link preview..."></textarea> -->
              <img id="uploadPreview" class="is-inline" style="width: 200px; height: 100px;">
              <input id="file" type="file" class=""onchange="PreviewImage()"/>
              <button type="button" id="link-btn"name="link-button">Customize</button>

              <input name="title" type="text" id="title" placeholder="Bloc Title...">

              <textarea name="notes" type="text" id="notes" placeholder="Your notes..."></textarea>
              <label for="category">Category: </label>
              <select class="category fa" id="category" name="category">
                <option value="all">All</option>
                <option value="video" class="fa">&#xf04b; Video</option>
                <option value="web" class="fa">&#xf0c1; Web</option>
                <option value="images" class="fa">&#xf030; Images</option>
                <option value="favourites" class="fa">&#xf005; Favourites</option>
              </select>
          </div>
          <div class="popup-footer">
            <button type="button" id="cancel">Cancel</button>
            <button type="submit" id="submit">Save</button>
          </div>
        </form>
        </div>
      </div>

      <div id="popup1" class="popup">
        <div class="popup-content">
          <div class="popup-header">
            <h3>Personalise Bloc Cover Image</h3>
          </div>
          <div class="popup-body">
            <form class="" action="index.html" method="post">
              <textarea type="text" id="url1" placeholder="To what URL shall this link go? (or leave blank to use same image as your link)"></textarea>
              <textarea  type="text" id="link1" placeholder="Link preview..."></textarea>
            </form>
          </div>
          <div class="popup-footer">
            <button type="button" id="cancel1">Cancel</button>
            <button type="button" id="submit1">Save</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <aside class="new-block">
      <a href="#">Create new Bloc</a>
    </aside>

    <script type="text/javascript" src="static/js/emailValidation.js"></script>
    <script type="text/javascript" src="static/js/modal.js"></script>
    <script type="text/javascript" src="static/js/imagePreview.js"></script>
    <script type="text/javascript" src="static/js/drag.js"></script>
    <script src="https://use.fontawesome.com/1ff151e915.js"></script>
  </body>
</html>
