<!DOCTYPE html>
<head>
  <title> Email list </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="../static/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <!-- Navigation bar -->
  <nav>
    <h1 id="center-title"> Blocs </h1>
    <div id="dropdown">
      <img id="cog" src="/static/images/cog.png" alt=""/>
      <div id="dropdown-content">
        <a href="/profile"> Profile </a>
        <a href="/settings"> Settings </a>
        <a href="/logs"> Logs </a>
        <a href="/emails"> Email list </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <label class="label">To:</label>
    <p class="control has-icon has-icon-right">
      <input id="email" class="input is-danger" type="text" placeholder="E-mail Address..."><button id="send" class="button is-primary">Send</button>
      <i class="fa fa-warning"></i>
      <span class="help is-danger">This email is invalid</span>
    </p>

    <label class="label">Subject</label>
    <p class="control">
      <span class="select">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </span>
    </p>
    <label class="label"><img class="vector" src="../static/images/play.png" alt="" />Links to send</label>
    <p class="control">
      <textarea class="textarea" ondrop="drop(event)" ondragover="allowDrop(event)"></textarea>
    </p>

    <label class="label"><img class="vector" src="../static/images/folder.png" alt="" />My Portfolio</label>
    <p class="control">
      <span class="select">
        <select>
          <option>Select..</option>
          <option>Links</option>
          <option>Links</option>
          <option>Links</option>
          <option>Links</option>
        </select>
      </p>
    </div>

    <div class="modal-popups">
      <div id="popup" class="popup">
        <div class="popup-content">
          <div class="popup-header">
            <div class="ellipsis">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div class="favourite">
              <i class="fa fa-star-o" id="unfav" aria-hidden="true"></i>
              <i class="fa fa-star" id="fav" aria-hidden="true" style="display: none;"></i>
            </div>
          </div>
          <div class="popup-body">
            <form class="" action="index.html" method="post">
              <input type="text" id="url" placeholder="To what URL shall this link go..." required>
              <textarea type="text" id="link" placeholder="Link preview..."></textarea>
              <button type="button" id="link-btn"name="link-button">Personalise Bloc Cover Image</button>
              <input type="text" id="title" placeholder="Bloc Title..." required>
              <textarea type="text" id="notes" placeholder="Your notes..."></textarea>
              <label for="category">Category: </label><select class="category fa" name="category">
                <option value="all">All</option>
                <option value="video" class="fa">&#xf04b; Video</option>
                <option value="web" class="fa">&#xf0c1; Web</option>
                <option value="images" class="fa">&#xf030; Images</option>
                <option value="favourites" class="fa">&#xf005; Favourites</option>
              </select>
            </form>
          </div>
          <div class="popup-footer">
            <button type="button" id="cancel">Cancel</button>
            <button type="button" id="submit">Save</button>
          </div>
        </div>
      </div>

      <div id="popup1" class="popup">
        <div class="popup-content">
          <div class="popup-header">
            <h3>Personalise Bloc Cover Image</h3>
          </div>
          <div class="popup-body">
            <form class="" action="index.html" method="post">
              <textarea type="text" id="url1" placeholder="To what URL shall this link go? (or leave blank to use same image as your link)"></textarea>
              <textarea  type="text" id="link1" placeholder="Link preview..."></textarea>
            </form>
          </div>
          <div class="popup-footer">
            <button type="button" id="cancel1">Cancel</button>
            <button type="button" id="submit1">Save</button>
          </div>
        </div>
      </div>

      <aside class="new-block">
        <a href="#">Create new Bloc</a>
      </aside>
    </div>

    <script type="text/javascript" src="static/js/modal.js"></script>
    <script src="https://use.fontawesome.com/1ff151e915.js"></script>
  </body>
</html>
