<!DOCTYPE html>
<head>
  <title> Email list </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="static/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <nav id="email-list-nav">
    <div class="email-list-back">
      <a href="/"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
  </nav>



<div class="LoginMain">
<h1 class="MainFrontTitle"> SMILEnotes</h1>

<button class="loginMainBtn"onclick="document.getElementById('loginID').style.display='block'" style="width:auto;">Login</button>
</div>
<div id="loginID" class="loginPopup">

  <form class="login-content animate" action="/Login" method="post">


    <div class="container">
      <h2 class="subtitle" id="loginTitle">SMILEnotes</h2>

      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required class="loginInput">

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required class="loginInput">

      <button type="submit" id="loginBtn">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('loginID').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

  <script>

</script>

  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/searchFilter.js"></script>
  <script type="text/javascript" src="static/js/loginPopup.js"></script>

  <script src="https://use.fontawesome.com/1ff151e915.js"></script>
</body>
</html>
