<!DOCTYPE html>
<head>
  <title> Logs </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
  <link rel="stylesheet" tpye="text/css" href="../static/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../static/js/logs.js"></script>
</head>
<body>
  <span id="NavContainer"> </span>
</body>
</html>
