<!DOCTYPE html>
<head>
  <title> Settings </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
  <link rel="stylesheet" tpye="text/css" href="../static/css/master.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <!-- Navigation bar -->
  <nav>
    <h1 id="center-title"> BLOCS </h1>
    <div id="dropdown">
      <img id="cog" src="/static/images/cog.png" alt=""/>
      <div id="dropdown-content">
        <h3 id="nav-username"> Insert name here </h3>
        <a href="/profile"> Profile </a>
        <a href="/settings"> Settings </a>
        <a href="/logs"> Logs </a>
        <a href="/emails"> Email list </a>
        <div class="divider"> </div>
        <a id="logout" href="/logout"> Log out </a>
      </div>
    </div>
  </nav>
  <section class="find">
  <p class="control has-icon">
  <input class="input" type="email" id="userSearch" placeholder="Search Bloc">
  <i class="fa fa-search" aria-hidden="true"></i>
  <button class="button is-success" id="submitChange">
    Search
  </button>
</section>

<section class= "ChangeUser">
  <h2 class="subtitle">Change User info</h2>

<button id="myBtn" class="button is-success">Configure User Info</button>
</section>



</body>
</html>
